.leaderboard {
  max-width: 480px;
  margin: 50px auto;
  text-align: center;

  .entries {
    margin: 0px 0px 50px;
  }

  h1 {
    text-align: center;
  }

  .back_link {
    font-size: 20px;
  }
}
