.status_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  color: #ffffff;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .msg_failure {
    font-size: 45px;
  }
  .msg_success {
    font-size: 20px;
  }
}
